~*
~*/
~/

*.pyc
*.bat
*.ipynb

test.py

venv/

logs/

templates/~*
templates/security/~*
templates/security/email/~*
templates/security/email/*.rar

migrations/__pycache__
migrations/~*
migrations/versions/__pycache__
migrations/versions/~*

app/static/user_data/
!app/static/user_data/avatar/

blueprints/events/__pycache__
blueprints/events/~*
blueprints/events/templates/events/~*
blueprints/posts/__pycache__
blueprints/posts/~*
blueprints/posts/templates/posts/~*
blueprints/users/__pycache__
blueprints/users/~*
blueprints/photos/templates/photos/~*
blueprints/photos/__pycache__
blueprints/photos/~*
blueprints/photos/templates/photos/~*

app/*.pys
app/~*

app/data/~*
app/data/*.zip
app/data/*.csv
app/data/*.tsv
app/data/*.whl
app/__pycache__

__pycache__/